<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ud.manage.dao.mapper.RaceMapper">
	<select id="getList" parameterType="map" resultType="Race">
		select * from race
		<if test="skip != null and max != null">
			limit #{skip},#{max}
		</if>
	</select>
	
	<select id="getListByExamDate" parameterType="map" resultType="Race">
		select * from race where DATE_FORMAT(endTime,'%Y-%m-%d')=#{examDate} and type=#{type}
	</select>
	
	<select id="getById" parameterType="map" resultType="Race">
		select * from race 
		where 
        id = #{id} 
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*) from race
	</select>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="Race">
		<![CDATA[
        INSERT INTO race (
        	studentId ,
        	type ,
        	score ,
        	startTime ,
        	endTime 
        ) VALUES (
        	#{studentId} ,
        	#{type} ,
        	#{score} ,
        	#{startTime} ,
        	#{endTime} 
        )
    	]]>
	</insert>

	<update id="update" parameterType="Race">
		<![CDATA[
        UPDATE race SET
	        studentId = #{studentId} ,
	        type = #{type} ,
	        score = #{score} ,
	        startTime = #{startTime} ,
	        endTime = #{endTime} 
        WHERE 
	        id = #{id} 
    	]]>
	</update>

	<delete id="delete" parameterType="map">
		<![CDATA[
        DELETE FROM race 
        WHERE
        id = #{id} 
    	]]>
	</delete>
</mapper>