<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ud.manage.dao.mapper.StudentAssetMapper">
	<select id="getList" parameterType="map" resultType="StudentAsset">
		select * from student_asset
		<if test="skip != null and max != null">
			limit #{skip},#{max}
		</if>
	</select>
	
	<select id="getListBySource" parameterType="map" resultType="StudentAsset">
		select * from student_asset 
			where studentId=#{studentId} and source=#{source} and DATE_FORMAT(createTime,'%Y-%m-%d')=#{createTime}
	</select>
	
	<select id="getById" parameterType="map" resultType="StudentAsset">
		select * from student_asset 
		where 
        id = #{id} 
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select count(*) from student_asset
	</select>

	<insert id="create" parameterType="StudentAsset">
		<![CDATA[
        INSERT INTO student_asset (
        	studentId ,
        	type ,
        	amount ,
        	source ,
        	remark ,
        	createTime 
        ) VALUES (
        	#{studentId} ,
        	#{type} ,
        	#{amount} ,
        	#{source} ,
        	#{remark} ,
        	#{createTime} 
        )
    	]]>
	</insert>

	<update id="update" parameterType="StudentAsset">
		<![CDATA[
        UPDATE student_asset SET
	        studentId = #{studentId} ,
	        type = #{type} ,
	        amount = #{amount} ,
	        source = #{source} ,
	        remark = #{remark} ,
	        createTime = #{createTime} 
        WHERE 
	        id = #{id} 
    	]]>
	</update>

	<delete id="delete" parameterType="map">
		<![CDATA[
        DELETE FROM student_asset 
        WHERE
        id = #{id} 
    	]]>
	</delete>
</mapper>